DATABASE_URL=postgresql://admin:admin123@127.0.0.1:5432/energy_monitor

# Planetary Computer (URLs públicas com assinatura automática)
USE_PLANETARY_COMPUTER=true
AZURE_SAS_TOKEN=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_CONTAINER=

GOOGLE_MAPS_API_KEY=
CBERS_API_URL=https://api.cbers.inpe.br/v1